<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name='thruster_0_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_0</linkName>
      <thrusterNumber>0</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_1_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_1</linkName>
      <thrusterNumber>1</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_2_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_2</linkName>
      <thrusterNumber>2</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_3_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_3</linkName>
      <thrusterNumber>3</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_4_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_4</linkName>
      <thrusterNumber>4</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_5_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_5</linkName>
      <thrusterNumber>5</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_6_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_6</linkName>
      <thrusterNumber>6</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
    <plugin name='thruster_7_model' filename='libgazebo_coldgas_thruster_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}thruster_7</linkName>
      <thrusterNumber>7</thrusterNumber>
      <commandSubTopic>${prefix}/gazebo/command/actuator_outputs</commandSubTopic>
      <pwmFrequency>10</pwmFrequency>
      <maxThrust>1.4</maxThrust>
    </plugin>
  </gazebo>
</robot>
