<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name='${prefix}rotors_gazebo_imu_plugin' filename='libgazebo_imu_plugin.so'>
      <robotNamespace/>
      <linkName>${prefix}body</linkName>
      <imuTopic>${prefix}/imu</imuTopic>
      <gyroscopeNoiseDensity>0.00018665</gyroscopeNoiseDensity>
      <gyroscopeRandomWalk>3.8785e-05</gyroscopeRandomWalk>
      <gyroscopeBiasCorrelationTime>1000.0</gyroscopeBiasCorrelationTime>
      <gyroscopeTurnOnBiasSigma>0.0087</gyroscopeTurnOnBiasSigma>
      <accelerometerNoiseDensity>0.00186</accelerometerNoiseDensity>
      <accelerometerRandomWalk>0.006</accelerometerRandomWalk>
      <accelerometerBiasCorrelationTime>300.0</accelerometerBiasCorrelationTime>
      <accelerometerTurnOnBiasSigma>0.196</accelerometerTurnOnBiasSigma>
    </plugin>
    <plugin name='${prefix}groundtruth_plugin' filename='libgazebo_groundtruth_plugin.so'>
      <robotNamespace/>
    </plugin>
    <plugin name='${prefix}magnetometer_plugin' filename='libgazebo_magnetometer_plugin.so'>
      <robotNamespace/>
      <pubRate>100</pubRate>
      <noiseDensity>0.0004</noiseDensity>
      <randomWalk>6.4e-06</randomWalk>
      <biasCorrelationTime>600</biasCorrelationTime>
      <magTopic>${prefix}/mag</magTopic>
    </plugin>
    <plugin name='${prefix}barometer_plugin' filename='libgazebo_barometer_plugin.so'>
      <robotNamespace/>
      <pubRate>50</pubRate>
      <baroTopic>${prefix}/baro</baroTopic>
      <baroDriftPaPerSec>0</baroDriftPaPerSec>
    </plugin>
    <plugin name='${prefix}mavlink_interface' filename='libgazebo_mavlink_interface.so'>
      <robotNamespace/>
      <imuSubTopic>${prefix}/imu</imuSubTopic>
      <magSubTopic>${prefix}/mag</magSubTopic>
      <baroSubTopic>${prefix}/baro</baroSubTopic>
      <mavlink_addr>INADDR_ANY</mavlink_addr>
      <mavlink_tcp_port>4560</mavlink_tcp_port>
      <mavlink_udp_port>14560</mavlink_udp_port>
      <serialEnabled>0</serialEnabled>
      <serialDevice>/dev/ttyACM0</serialDevice>
      <baudRate>921600</baudRate>
      <qgc_addr>INADDR_ANY</qgc_addr>
      <qgc_udp_port>14550</qgc_udp_port>
      <sdk_addr>INADDR_ANY</sdk_addr>
      <sdk_udp_port>14540</sdk_udp_port>
      <hil_mode>0</hil_mode>
      <hil_state_level>0</hil_state_level>
      <send_vision_estimation>0</send_vision_estimation>
      <send_odometry>1</send_odometry>
      <enable_lockstep>1</enable_lockstep>
      <use_tcp>1</use_tcp>
      <actuatorOutputsCommandPubTopic>${prefix}/gazebo/command/actuator_outputs</actuatorOutputsCommandPubTopic>
      <control_channels>
        <channel name='thruster1'>
          <input_index>0</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster2'>
          <input_index>1</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster3'>
          <input_index>2</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster4'>
          <input_index>3</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster5'>
          <input_index>4</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster6'>
          <input_index>5</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster7'>
          <input_index>6</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
        <channel name='thruster8'>
          <input_index>7</input_index>
          <joint_control_type>bypass</joint_control_type>
        </channel>
      </control_channels>
    </plugin>
  </gazebo>
</robot>